In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2023.11.17)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [152]:
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import time

In [ ]:
# question 1

In [153]:
driver = webdriver.Chrome()

In [154]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [183]:


rank=[]
rank_tags = driver.find_elements(By.XPATH,'//td[@align="center"]')
for i in rank_tags[0:10]:
    rank.append(i.text)


name=[]
name_tags = driver.find_elements(By.XPATH,'//a[@class="mw-redirect"]')
for i in name_tags[0:10]:
    name.append(i.text)


artist_name =[]
artist_tags =driver.find_elements(By.XPATH,'//a[@class="mw-redirect"]')
for i in artist_tags[0:10]:
    artist_name.append(i.get_attribute("href"))

    
upload =[]
date_tags = driver.find_elements(By.XPATH,'//td[@align="right"]')
for i in date_tags[0:10]:
    upload.append(i.text)
    
    
     
views=[]
view_tags = driver.find_elements(By.XPATH,'//td[@align="center"]')
for i in view_tags[0:10]:
    views.append(i.text)

In [184]:
len(rank),len(name),len(artist_name),len(upload),len(views)

(10, 10, 10, 10, 10)

In [173]:
import pandas as pd 
df = pd.DataFrame({'Rank':rank,'Name':name, 'ArtistName':artist_name,'UploadDate':upload,'Views':views})
df

,Rank,Name,ArtistName,UploadDate,Views
0,,music videos,https://en.wikipedia.org/wiki/Music_videos,"7,046,700,000",
1,,regional restrictions,https://en.wikipedia.org/wiki/Geolocation_soft...,"June 17, 2016",
2,[10],Johny Johny Yes Papa,https://en.wikipedia.org/wiki/Johny_Johny_Yes_...,"November 2, 2020",[10]
3,[B],LooLoo Kids - Nursery Rhymes and Children's Songs,https://en.wikipedia.org/wiki/LooLoo_Kids,"2,993,700,000",[B]
4,[23],Cocomelon - Nursery Rhymes,https://en.wikipedia.org/wiki/Cocomelon_-_Nurs...,"January 12, 2017",[23]
5,134,Cocomelon - Nursery Rhymes,https://en.wikipedia.org/wiki/Cocomelon_-_Nurs...,"August 4, 2017",134
6,[32],Get Movies,https://en.wikipedia.org/wiki/Get_Movies,"2,894,000,000",[32]
7,[E],Cocomelon - Nursery Rhymes,https://en.wikipedia.org/wiki/Cocomelon_-_Nurs...,"April 6, 2015",[E]
8,149,Alan Walker,https://en.wikipedia.org/wiki/Alan_Walker_(mus...,"July 10, 2017",149
9,[67],Baby Shark Dance,https://en.wikipedia.org/wiki/Baby_Shark_Dance,"803,700,000",[67]

# question 2

In [25]:
driver = webdriver.Chrome()

In [26]:
driver.get("https://www.bcci.tv/fixtures?platform=international&type=men")

In [42]:
series=[]
serie= driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in serie:
    series.append(i.text)


places=[]
place= driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    places.append(i.text)


date=[]
date_tags =driver.find_elements(By.XPATH,'//div[@class="match-date-info"]')
for i in date_tags:
    date.append(i.text)
      
time =[]
time_tags = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time.append(i.text)

In [43]:
len(series),len(places),len(date),len(time)

(6, 6, 6, 6)

In [44]:
import pandas as pd 
df = pd.DataFrame({'Series':series,'Place':places,'Date':date,'Time':time})
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024\n9:30 AM IST",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024\n8:00 PM IST",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024\n8:00 PM IST",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024\n8:00 PM IST",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024\n8:00 PM IST",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024\n8:00 PM IST",8:00 PM IST

# question 3

In [ ]:
driver = webdriver.Chrome()

In [11]:
#Open the shine page on automated chrome brower
driver.get(" https://github.com/trending")

In [34]:
title=[]
title_tags = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]')
for i in title_tags[0:10]: 
    title.append(i.text)
    
     

description =[]
description_tags =driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tags[0:10]:
    description.append(i.text)  
language =[]
used_tags = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in used_tags[0:10]:
    language.append(i.text)
    
    
    
contributors =[] 
count_tags = driver.find_elements(By.XPATH, '//a[@class="d-inline-block"]')
for i in count_tags[0:10]:
    contributors.append(i.get_attribute("href"))

In [35]:
len(title),len(description),len(language),len(contributors)

(10, 10, 10, 10)

In [36]:
import pandas as pd 
df = pd.DataFrame({'Repository title':title,'Repository description':description,'Language used':language,'Contributors count':contributors})
df

,Repository title,Repository description,Language used,Contributors count
0,cloudflare / pingora,"A library for building fast, reliable and evol...",Rust,https://github.com/eaufavor
1,Lissy93 / web-check,🕵️‍♂️ All-in-one OSINT tool for analysing any ...,TypeScript,https://github.com/drcaramelsyrup
2,Lunakepio / Mario-Kart-3.js,Windows in a Docker container.,JavaScript,https://github.com/andrewhavck
3,dockur / windows,Nintendo Switch emulator,Shell,https://github.com/kristianpaul
4,yuzu-emu / yuzu,🎨 user interfaces for react-three-fiber,C++,https://github.com/zkd8907
5,pmndrs / uikit,Xeno-RAT is an open-source remote access tool ...,TypeScript,https://github.com/Lissy93
6,HumanAIGC / EMO,"Implementation of ""BitNet: Scaling 1-bit Trans...",C#,https://github.com/liss-bot
7,moom825 / xeno-rat,"7 Lessons, Kick-start Your Cybersecurity Learn...",Python,https://github.com/muni106
8,kyegomez / BitNet,Animate Anyone: Consistent and Controllable Im...,C,https://github.com/brianteeman
9,microsoft / Security-101,🚀 免费订阅地址，🚀 免费节点，🚀 6小时更新一次，共享节点，节点质量高可用，完全免费。免费...,TypeScript,https://github.com/jinnabaalu

# question 4

In [ ]:
driver = webdriver.Chrome()

In [124]:
driver.get(" https://www.billboard.com/charts/")

In [132]:

artist_name=[]
artist_tags = driver.find_elements(By.XPATH, '//h3[@id="title-of-a-story"]')
for i in artist_tags[0:20]: 
    artist_name.append(i.text)
     
    
last_rank  
last_tags = driver.find_elements(By.XPATH,'//li[@class="o-chart-resurv-u-color-white u-width-100 u-width-55@mobile-max u-width-55@tablet-only lrv-u-height-100p lrv-u-flex lrv-u-flex-direction-column lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey"]')
for i in last_tags[0:20]:
    last_rank.append(i.text)
    
    
     
peak_rank =[]  
        
peak_tags = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in peak_tags[0:20]:
    peak_rank.append(i.text)
    
    
weeks_onboard=[]
week_tags = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in week_tags[0:20]:
    weeks_onboard.append(i.text)

In [133]:
len(artist_name),len(last_rank),len(peak_rank),len(weeks_onboard)

(20, 20, 20, 20)

In [134]:
import pandas as pd 
df = pd.DataFrame({'ArtistName':artist_name,'Last_Rank':last_rank,'Peak_Rank':peak_rank,'Weeks On Board':weeks_onboard})
df

       ArtistName Last_Rank Peak_Rank Weeks On Board
0                         1                        1
1                         2         1            500
2                         3                        4
3                         4         1            259
4    Taylor Swift         5                        7
5                         6         1            276
6   Morgan Wallen         7                        8
7                         8         1            504
8         Beyonce         9                        -
9                        10         5              6
10          Drake        11                       11
11                       12         1            234
12           Yeat        13                       10
13                       14         1            364
14            SZA        15                       12
15                       16         1             93
16     Luke Combs        17                        3
17                       18         1            257
18     Zach Bryan        19                        9
19                       20         6             37

# question 5

In [ ]:
driver = webdriver.Chrome()

In [144]:
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare#data")

In [147]:

rank=[]
rank_tags = driver.find_elements(By.XPATH, '//td[@class="left"]')
for i in rank_tags[0:20]: 
    rank.append(i.text)
     
    
author_name =[]
authore_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in authore_tags[0:20]:
    author_name.append(i.text)
    
    
     
book_name =[]          
book_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in book_tags[0:20]:
    book_name.append(i.text)
    
    
volume_sold=[]
sold_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in sold_tags[0:20]:
    volume_sold.append(i.text)
    
publisher=[]
publisher_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in publisher_tags[0:20]:
    publisher.append(i.text)
    
genre=[]
genre_tags = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in genre_tags[0:20]:
    genre.append(i.text)

In [148]:
len(author_name),len(book_name),len(volume_sold),len(publisher),len(genre),len(rank)

(20, 20, 20, 20, 20, 20)

In [149]:
import pandas as pd 
df = pd.DataFrame({'Rank':rank,'AuthorName':author_name,'BookName':book_name,'Volume_Sold':volume_sold,'Publisher':publisher,'Genre':genre})
df

,Rank,AuthorName,BookName,Volume_Sold,Publisher,Genre
0,1,1,1,1,1,1
1,"Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The"
2,"Brown, Dan","Brown, Dan","Brown, Dan","Brown, Dan","Brown, Dan","Brown, Dan"
3,"5,094,805","5,094,805","5,094,805","5,094,805","5,094,805","5,094,805"
4,Transworld,Transworld,Transworld,Transworld,Transworld,Transworld
5,2,2,2,2,2,2
6,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows
7,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K."
8,"4,475,152","4,475,152","4,475,152","4,475,152","4,475,152","4,475,152"
9,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury
10,3,3,3,3,3,3
11,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone
12,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K."
13,"4,200,654","4,200,654","4,200,654","4,200,654","4,200,654","4,200,654"
14,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury
15,4,4,4,4,4,4
16,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix
17,"Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K.","Rowling, J.K."
18,"4,179,479","4,179,479","4,179,479","4,179,479","4,179,479","4,179,479"
19,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury,Bloomsbury

# question 6

In [ ]:
driver = webdriver.Chrome()

In [151]:
driver.get(" https://www.imdb.com/list/ls512407256/")

In [163]:

name=[]
name_tags = driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]')
for i in name_tags[0:20]: 
    name.append(i.text)
     
    
year_span =[]
year_tags = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tags[0:20]:
    year_span.append(i.text)
    
    
genre=[]
genre_tags = driver.find_elements(By.XPATH,'//span[@class="certificate"]')
for i in genre_tags[0:20]:
    genre.append(i.text)
    
     
run_time=[]          
run_tags = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_tags[0:20]:
    run_time.append(i.text)
    
    
rating=[]
rate_tags = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rate_tags[0:20]:
    rating.append(i.text)
    
votes=[]
vote_tags = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote_tags[0:20]:
    votes.append(i.text)

In [164]:
len(name),len(year_span),len(genre),len(run_time),len(rating),len(votes)

(20, 20, 20, 20, 20, 20)

In [165]:
import pandas as pd 
df = pd.DataFrame({'Name':name,'YearSpan':year_span,'Genre':genre,'RunTime':run_time,'Rating':rating ,'Votes':votes})
df

,Name,YearSpan,Genre,RunTime,Rating,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),TV-MA,55 min,9.2,"2,262,391"
1,2. Stranger Things (2016–2025),(2016–2025),TV-14,51 min,8.7,"1,320,359"
2,3. The Walking Dead (2010–2022),(2010–2022),TV-MA,44 min,8.1,"1,072,194"
3,4. 13 Reasons Why (2017–2020),(2017–2020),TV-MA,60 min,7.5,"313,464"
4,5. The 100 (2014–2020),(2014–2020),TV-14,43 min,7.6,"273,393"
5,6. Orange Is the New Black (2013–2019),(2013–2019),TV-MA,59 min,8,"318,684"
6,7. Riverdale (2017–2023),(2017–2023),TV-14,45 min,6.5,"154,375"
7,8. Grey's Anatomy (2005– ),(2005– ),TV-14,41 min,7.6,"338,335"
8,9. The Flash (2014–2023),(2014–2023),TV-PG,43 min,7.5,"366,952"
9,10. Arrow (2012–2020),(2012–2020),TV-14,42 min,7.5,"444,769"
10,11. Money Heist (2017–2021),(2017–2021),TV-MA,70 min,8.2,"526,811"
11,12. The Big Bang Theory (2007–2019),(2007–2019),TV-PG,22 min,8.1,"861,224"
12,13. Black Mirror (2011– ),(2011– ),TV-MA,60 min,8.7,"633,350"
13,14. Sherlock (2010–2017),(2010–2017),TV-14,88 min,9.1,"989,493"
14,15. Vikings (2013–2020),(2013–2020),TV-MA,44 min,8.5,"576,130"
15,16. Pretty Little Liars (2010–2017),(2010–2017),TV-14,44 min,7.4,"177,374"
16,17. The Vampire Diaries (2009–2017),(2009–2017),TV-14,43 min,7.7,"347,112"
17,18. American Horror Story (2011– ),(2011– ),TV-MA,60 min,8,"341,315"
18,19. Breaking Bad (2008–2013),(2008–2013),TV-MA,45 min,9.5,"2,110,606"
19,20. Lucifer (2016–2021),(2016–2021),TV-14,"4,393 min",8.1,"352,765"

# question 7

In [ ]:
driver = webdriver.Chrome()

In [47]:
driver.get(" https://archive.ics.uci.edu/datasets")

In [69]:
dataset_name=[]
name_tags = driver.find_elements(By.XPATH, '//h2[@class="truncate text-primary"]')
for i in name_tags[0:10]: 
    dataset_name.append(i.text)
     
    
data_type =[]
type_tags = driver.find_elements(By.XPATH,'//span[@class="truncate"]')
for i in type_tags[0:10]:
    data_type.append(i.text)
    
    
task=[]
tasks_tags = driver.find_elements(By.XPATH,'//span[@class="truncate"]')
for i in tasks_tags[0:10]:
    task.append(i.text)
    
intances=[]          
intance_tags = driver.find_elements(By.XPATH,'//span[@class="truncate"]')
for i in intance_tags[0:10]:
    intances.append(i.text)

In [73]:
len(dataset_name),len(data_type),len(task),len(intances)

(10, 10, 10, 10)

In [72]:
import pandas as pd 
df = pd.DataFrame({'DataSET':dataset_name,'DataType':data_type,'Task':task,'NumberOFIntances':intances})
df

,DataSET,DataType,Task,NuberOFIntances
0,Iris,Classification,Classification,Classification
1,Dry Bean Dataset,Tabular,Tabular,Tabular
2,Heart Disease,150 Instances,150 Instances,150 Instances
3,Rice (Cammeo and Osmancik),4 Features,4 Features,4 Features
4,Adult,Subject Area,Subject Area,Subject Area
5,Raisin,Feature Type,Feature Type,Feature Type
6,Breast Cancer Wisconsin (Diagnostic),Date Donated,Date Donated,Date Donated
7,Wine,Views,Views,Views
8,Wine Quality,Classification,Classification,Classification
9,Diabetes,Multivariate,Multivariate,Multivariate